/* Write your CSS here */

/* Write your CSS here */

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: 'Roboto';
  margin: 3px;
  padding: 20px;
  border-radius: 10px;
  width: 140px;
  list-style: none;
}
.icon {
  width: 60px;
}
.app-name {
  font-size: 18px;
  font-weight: 500;
}
